<table>
    <tr>
        <td>{{app.app_id}}</td>
    </tr>
    <tr>
        <td>{{app.name}}</td>
    </tr>
    <tr>
        <td>{{app.category}}</td>
    </tr>
    <tr>
        <td>{{app.rating}}</td>
    </tr>
    <tr>
        <td>{{app.installs}}</td>
    </tr>


</table>